.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.icon {
  mask-size: cover;
  -webkit-mask-size: cover;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.element-severity_badge {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: -15px;
  background: rgb(223, 0, 0);
}

.element-severity_badge > span {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  top: 20%;
  color: #ffffff;
}

.element-graphic {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 65px;
}

.icon {
  width: 50px;
  height: 50px;
  background-size: 50px;
}

.element-label {
  position: relative;
  font-family: "Nokia Pure Regular";
  font-size: 10px;
  color: rgb(0, 0, 0, 0.87);
  max-width: 80px;
  overflow: hidden;
  text-transform: capitalize;
  white-space: nowrap;
}

.element-graphic.hover > .overlay {
  width: 38px;
  height: 38px;
  position: absolute;
  background-color: #000000;
  opacity: 0.3;
  border-radius: 50%;
}
